[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diceydice = {editable = true, path = "."}

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"
pre-commit = "*"
isort = "*"
typing-extensions = "*"

[requires]
python_version = "3.9"

[scripts]
fmt = "isort --dt --tc -m 3 diceydice"
lint = "bash -c 'flake8 --max-line-length 88 && mypy diceydice'"
test = "pytest"
check = "bash -c 'pipenv run lint && pipenv run test'"
